# yamllint disable rule:comments rule:line-length
---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: nix cache
'on':
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**.nix'
  pull_request:
    paths:
      - '**.nix'
      - flake.lock

permissions: {}

concurrency:
  group: nixcache

jobs:
  lint-build-and-push:
    runs-on: deedee
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: "${{ steps.app-token.outputs.token }}"
          persist-credentials: false

      - name: Flake Check
        run: nix --accept-flake-config flake check --fallback

      - name: Build and push to cache
        env:
          AWS_ACCESS_KEY_ID: "${{ secrets.NIX_STORE_AWS_ACCESS_KEY_ID }}"
          AWS_SECRET_ACCESS_KEY: "${{ secrets.NIX_STORE_AWS_SECRET_ACCESS_KEY }}"

        run: |
          for sub in $(nix --accept-flake-config eval --json '.#nixlab.nixConfig.substituters' | jq -r '.[]' | grep -v 'cache.nixos.org'); do
            s3sub="$(echo "$sub" | sed -E 's@^([^:]+)://([^/]+)/([^?]+)\??(.*)$@s3://\3?endpoint=\2\&scheme=\1\&\4@g')"
            for machine in $(nix --accept-flake-config flake show --json 2> /dev/null | jq -r '.nixosConfigurations | keys | .[]'); do
              drv=".#nixosConfigurations.$machine.config.system.build.toplevel"

              nix --accept-flake-config build --fallback --no-link "$drv"
              nix --accept-flake-config store sign --key-file <(echo "${{ secrets.NIX_STORE_PRIVATE_KEY }}") --recursive "$drv"
              nix --accept-flake-config store verify --sigs-needed 1 --recursive "$drv" --option trusted-public-keys "${{ secrets.NIX_STORE_PUBLIC_KEY }}"
              nix --accept-flake-config --refresh copy --to "$s3sub" "$drv"
            done

            drv=".#devShells.x86_64-linux.default"
            nix --accept-flake-config build --fallback --no-link "$drv"
            nix --accept-flake-config store sign --key-file <(echo "${{ secrets.NIX_STORE_PRIVATE_KEY }}") --recursive "$drv"
            nix --accept-flake-config store verify --sigs-needed 1 --recursive "$drv" --option trusted-public-keys "${{ secrets.NIX_STORE_PUBLIC_KEY }}"
            nix --accept-flake-config --refresh copy --to "$s3sub" "$drv"
          done
